<h1>Atividade: Todo List com Angular</h1>

<app-task-form (addTask)="handleAddTask($event)"></app-task-form>

<h2>Tarefas Pendentes</h2>
<app-task-list
  [tasks]="getPendingTasks()"
  [title]="'Pendentes'"
  (remove)="handleRemoveTask($event)"
  (toggle)="handleToggleTask($event)">
</app-task-list>

<h2>Tarefas Concluídas</h2>
<app-task-list
  [tasks]="getCompletedTasks()"
  [title]="'Concluídas'"
  (remove)="handleRemoveTask($event)"
  (toggle)="handleToggleTask($event)">
</app-task-list>


<p>Total: {{ tasks.length }} | Concluídas: {{ getCompletedCount() }}</p>
