@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-content {
    padding: 16px;
    display: grid;
    gap: 24px;
}
  
.spacer {
flex: 1 1 auto;
}
  